body {
  background: papayawhip;
}


@media (max-width:1400px){
  .container{
display: flex;
flex-direction: column;
  }
div{
  border: 5px solid white;
  color:white;
  margin: 1em;
  text-align: center;
}
 div > .c{
  position: relative;
  top:20px;
  right:60px
}
div > .d{
  position: relative;
  top:-40px;
  left:0px
}
div > .e{
  position: relative;
  bottom:100px;
  left:60px
}
div > .f{
  position: relative;
  bottom:80px
}

@media (min-width:600px){
  .container{
    display: flex;
    flex-direction: column;
    background: grey;
  }
  div{
    border: 5px solid white;
    color:white;
    margin: 1em;
    text-align: center;
    
 
  }div{
    border: 5px solid white;
    color:white;
    margin: 1em;
    text-align: center;
  }
   div > .c{
    position: relative;
    top:20px;
    right:60px
  }
  div > .d{
    position: relative;
    top:-40px;
    left:0px
  }
  div > .e{
    position: relative;
    bottom:100px;
    left:60px
  }
  div > .f{
    position: relative;
    bottom:80px
  }